body{
    background-color: hsl(185, 41%, 84%);
}
input {
  text-align: right;
  background: url() no-repeat scroll 7px 7px;
padding-left:30px;
}
.calculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    width: 60%;
    height:350px;
    background-color: white;
    padding:20px;
    border-radius: 20px;
    font-family: 'Space Mono', monospace;
    font-size: small;
    font-style: normal;
  }

@media screen and (max-width:900px){
  .calculator{
    flex-direction: column;
    width: 100vw;
    max-width: 92%;
    height: 680px;
  

    
    box-sizing: border-box;

  }
  .icon1{
margin: -10px;
padding-left: 20px;
  }
.tip-section .tip-input{
position: relative;
top:10px;
}
.tip-section .custom-tip{
  position: relative;
  bottom:10px;
  width:85px;
  }
  .tip-section .custom-tip::placeholder{
  position: relative;
  left:2px;
    }
  .result-value{
   position: relative;
 right: 20px;
  }
  .calculator input {
    width: 80%;
    padding: 5px;
    border: none;
    background-color:hsl(185, 41%, 84%);
  }
form{
position: relative;
margin-bottom: 50px;

}
 .resultsection{
margin-right: 25px;

 }
  .people{
    margin-top:30px;
  }
.calculator section{
  position: relative;
  top:10px;
}











  .tip-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .tip-btn {
    width: 100%;
  }
}
.calculator .tip-amount-value{
 color: white;
}
label{}
.perPerson{
position: relative;
top:23px;
right:80px;
font-size: smaller;
color:turquoise;
}
.result-value{
  font-size: 34px;
  position:absolute;
margin-top: -10px;
color: turquoise;
}
.calculator .total-bill-value{
  color: white;
 }
  .calculator .billsection {
    position: relative;
    bottom:50px;
    color:gray
  }

 #bill-input{
  font-family: 'Space Mono', monospace;
  display: block;
  margin-top: 10px;
  width:300px;
  height:25px;
  color:hsl(183, 100%, 15%);
  }
  .bill-label{
   visibility: hidden;
  }
form{
  position: relative;
  top:10px;
}

  .calculator  section  form  .tip-section {
  position: relative;
  bottom:25px;
  color:gray;
  }
  .calculator  section  form  .tip-options{
    position: relative;
   top:25px;
   color:gray;
    }
  
    .calculator  section  form  .people{
     
     color:gray;
      }
    
  
  .calculator-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .calculator-left label {
    margin-bottom: 10px;
  }

  .tip-options {
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
    grid-gap: 10px;
    margin-bottom: 20px;

  }
#active{
 background-color: turquoise;
 color:  hsl(183, 100%, 15%);
}
  .tip-options button{
    cursor: pointer;
    height:35px;
    font-family: 'Space Mono', monospace;
    background-color:  hsl(183, 100%, 15%);
    border-radius: 5px;
    color:white;
  }
  
  .custom-tip {
    width: 80%;
    text-align: center;
    height: 27px;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    font-family:  'Space Mono', monospace;
    position: relative;
    right:13px;

  }
  
  .calculator-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .tip-amount p,
  .total-bill p {
    margin-bottom: 10px;
  }
 
  #reset-btn {
    margin-top: 20px;
    cursor: pointer;
  }
  button{
    padding: 0;
border: none;
background: none;
  }

  .icon {
    position: absolute;
    top: 72%;
    left: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url("https://raw.githubusercontent.com/OliverCadman/js_projects/f3670244aa217aa52960d6130042fb1eb0c812ad/tip-calculator-app-main/images/icon-dollar.svg") no-repeat left;

    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .icon1 {
    position: absolute;
    top: 93%;
    left: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url("https://raw.githubusercontent.com/florianstancioiu/tip-calculator-app/8e28e5899133b8d765edf1106628e4da41c4be6d/images/icon-person.svg") no-repeat left;

    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .resultsection{
    background-color: hsl(183, 100%, 15%);
    position: relative;
   left:15px;
    width:100%;
    height:100%;
    border-radius: 10px;
  }
  .people #people-input{
 display: block;
 margin-top: 10px;
 width:300px;
 height:25px;
 font-family: 'Space Mono', monospace;
 color: hsl(183, 100%, 15%);
  }
  
#reset-btn{
  position: relative;
  top:70px;
  left:45px;
  width:75%;
  height:40px;
text-transform: uppercase;
border-radius: 5px;

color:  hsl(183, 100%, 15%); 
font-family: 'Space Mono', monospace;
background-color:  turquoise;
}
  .results{
    display:flex;
    flex-direction: column;
    position: relative;

    top:0px;
    padding:10px;
  }

  .results .result-group{
    display: flex;
flex-direction: row;
margin-top: 50px;

  }

  .results .result-group .result-value{
margin-left: 200px;
 }